@font-face {
    font-family: "century";
    src: local("century"),
         url(~assets/fonts/Century-Gothic.ttf) format("truetype");
}

html , body , .v-application {
    font-family: "century" !important;
}

.no-shadow  .v-input__slot{
   box-shadow: none !important;
}


.bg-gray .v-input__slot{
    background-color: var(--bg-gray) !important;
}

.v-stepper:not(.v-stepper--vertical) .v-stepper__label{
    display: block !important;
    @media(max-width: 413px){
        display: none !important;
    }
}
.v-stepper__step__step{
    &.primary{
        color : var(--primary-color) !important;
    }
    color : rgb(158, 158, 158) !important;
    background-color : rgb(158, 158, 158) !important;
    min-width: 10px !important;
    width: 10px !important;
    height: 10px !important;
}
.v-stepper--alt-labels .v-stepper__header .v-divider{
    margin: 29px -80px 0 !important;
}
.v-stepper,.v-stepper__header{
    box-shadow: none !important;
}
.theme--light.v-stepper .v-stepper__step__step .v-icon{
    display: none;
}
.atc-input{
    width: 40px !important;
    .v-input__control > .v-input__slot::before{
        display: none !important;
    }
    & .v-input__append-inner{
        display: none !important;
    }
    & .v-select__selection{
        width: 100%;
        text-align: center;
    }
    & input{
        text-align: center !important;
    }
}
.atc{
    & button{
        border: 1px solid var(--border-color);
        border-radius:50%;
        padding: 5px;
    }
}
.items-center{
    align-items: center;
}


.text-sm{
    font-size: 12px;
}

//layoputs
header , .v-bottom-navigation{
    @media(min-width:768px){
        display: none !important;
    }
}
.pointer{
    cursor: pointer;
}
//layoputs
nav.nav , footer.footer{
    @media(max-width:768px){
        display: none !important;
    }
}



.theme--dark.v-btn.v-btn--has-bg.danger{
    background-color: red;
}
.pr-partial .v-btn__content{
    color:#fff !important;
}   
.text-large{
    font-size: 24px;
}
.pr-partial .v-select__slot{
    height: 30px;
}
.pr-partial .v-select__selections{
    height: 30px;
}

.pr-partial .v-text-field .v-input__append-inner , .product  .v-text-field .v-input__append-inner {
    display: none;
}

.pr-partial .v-select__selection--comma , .product .v-select__selection--comma{
    width: 100%;
    text-align: center;
}
a {
    text-decoration: none !important;
}


.w-full{
    width: 100%;
}
.flex-wrap{
    flex-wrap: wrap;
}

.bt-1{
    border-top: 1px solid var(--border-color);
  }
.mb-0{
    margin-bottom: 0 !important;
}


.search{
    & .v-input__slot{
        min-height: 30px !important;
    }
}


.v-main{
    @media(min-width: 768px){
        padding: 10px 0px 0px !important;
        &.fixed-nav{
            padding: 90px 0px 0px !important;

        }
    }
} 
li{
    list-style: none;
}

.newsletter {
    & label {
        left: 20px !important;
    }
    & .v-input__slot{
        padding-left: 0 !important;
    }
    & input{
        border: 1px solid #ccc;
        border-radius: 4px;
        color: #787878;
        background: #fff;
        padding: 8px 15px !important;
    }
}
.nav .b-right .v-btn::before{
    background-color: transparent !important;
}
.v-application .md-hidden{
    @media(min-width:768px){
        display: none !important;
    }
}
.v-stepper__content{
    padding: 24px 0 16px 0 !important;
}
@media (max-width: 768px) {
.p-b {
    padding-bottom: 200px;
}
}

.totals {
    position: fixed;
    bottom: 56px;
    left: 0;
    background-color: #fff;
    padding: 30px;
    width: 100%;
    border-top: 1px solid var(--border-color);
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    @media(min-width: 768px){
        bottom: 0 !important;
        position: relative !important;
        &__wrapper{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}