body{
    overflow: hidden;
}

.p-0{
    padding:0 !important;
}
.items-center{
    align-items: center;
}
.mr-2{
    margin-right: 10px;    
}
.mt-4{
    margin-top: 20px;
}
.space-between{
    justify-content: space-between;
}
.underline{
    text-decoration: underline;
}

.px-4{
    padding: 20px 0;
}

.v-main{
    padding-bottom: 85px   !important;
}